html {
    background-color: white;
    display: block;
  }
  body {
    color: #414247;
    background-color: white;
    display: block;
    position: fixed;
    font-family: sans-serif;
    line-height: 1;
  }
  code {
    background-color: #D3D3D3;
    height: 40px;
    display: block;
    border-radius: 6px;
    padding-top: 12px ;
    padding-left: 22px;
    width: 100%;
    text-align: left;
  }
  header {
    font-weight: bold;
    padding-top: 20px;
    
  }
  section {
    display: block;
  }
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }